body { margin: 0; }
*:focus { outline: none; }
#message { margin-left: 10px; }
#console-messages { overflow: auto; }
#cache-label { margin-left: 6px; }
.status-bar-item.checkbox { margin-top: 5px; margin-bottom: 3px;}